<footer th:fragment="footer(additionalScript)" class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        <p>© 2020 Copyright: kevin croce 2025-SUPSI</p>
    </div>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script th:if="${additionalScript}!=null" th:href="@{/script/{css}(css=${additionalScript})}"></script>
</footer>