<!DOCTYPE html>
<html
        style="height: 100%"
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="layout(pageTitle, additionalCss, additionalScript, pageContent)"
>
<!--head replace-->
<head th:replace="~{fragment/head :: head(pageTitle=${pageTitle}, additionalCss=${additionalCss})}"></head>

<body style="height: 100%; margin: 0; display: flex; flex-direction: column;">
<!--navbar-->
<th:block th:replace="~{fragment/navbar :: navbar}"></th:block>

<!--main content with sidebar-->
<div class="flex-grow-1 overflow-hidden" style="width: 100%; padding: 0;">
    <div class="row h-100" style="margin: 0;">
        <main class="col-12 h-100 overflow-auto" style="padding: 0;">
            <th:block th:replace="${pageContent}"></th:block>
        </main>
    </div>
</div>

<!--footer replace-->
<footer th:replace="~{fragment/footer :: footer(additionalScript=${additionalScript})}" style="margin: 0; padding: 0;"></footer>
</body>
</html>