<div th:fragment="registerForm">
    <div class="container d-flex justify-content-center align-items-center min-vh-100 account-bg">
        <div class="card account-card shadow-lg p-4">
            <h3 class="text-center mb-4 text-white">Registrati</h3>
            <form id="registerForm" method="POST" th:action="@{/register}">
                <!-- Token CSRF rimosso perché disabilitato -->

                <div class="mb-3">
                    <label for="firstName" class="form-label text-white">Nome:</label>
                    <input type="text" id="firstName" name="firstName" class="form-control account-input" placeholder="Mario">
                    <div class="error-message text-danger small" th:text="${firstNameError}" id="firstName-error"></div>
                </div>

                <div class="mb-3">
                    <label for="lastName" class="form-label text-white">Cognome:</label>
                    <input type="text" id="lastName" name="lastName" class="form-control account-input" placeholder="Rossi">
                    <div class="error-message text-danger small" th:text="${lastNameError}" id="lastName-error"></div>
                </div>

                <div class="mb-3">
                    <label for="userName" class="form-label text-white">Username:</label>
                    <input type="text" id="userName" name="username" class="form-control account-input" placeholder="SuperMario">
                    <div class="error-message text-danger small" th:text="${usernameError}" id="userName-error"></div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label text-white">Password:</label>
                    <input type="password" id="password" name="password" class="form-control account-input" placeholder="********">
                    <div class="error-message text-danger small" th:text="${passwordError}" id="password-error"></div>
                </div>

                <div class="mb-3">
                    <label for="passwordConfirm" class="form-label text-white">Conferma Password:</label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control account-input" placeholder="********">
                    <div class="error-message text-danger small" id="passwordConfirm-error"></div>
                </div>

                <button type="submit" class="btn btn-primary w-100">Crea account</button>
            </form>
        </div>
    </div>
</div>
