<!DOCTYPE html>
<html lang="it">

<head>
    <title>The Best Card Dealer!</title>
    <meta charset="UTF-8">
    <meta name="description" content="Card dealer site">
    <meta name="author" content="Kevin Croce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/logo.jpg" type="image/icon type">
    <link rel="stylesheet" href="/style/form.css">
</head>

<body>

    <!-- Header Menu -->
    <nav class="topNavContainer">
        <ul>
            <li><a href="#">Sell card!</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/cardDetail/cardSale1Details.html">First news card</a></li>
            <li><a href="/cardDetail/cardSale2Details.html">Second news card</a></li>
            <li><a href="/register.html"><img src="/images/account.png" height=""></a></li>
        </ul>
    </nav>

    <!-- Form di vendita carta -->
    <div class="formContainer">
        <h2>Sell Your Card</h2>
        <form method="POST" enctype="multipart/form-data" action="/card/new">

            <label for="name">Card Name:</label>
            <input type="text" id="name" name="name" required>
            <br><br>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
            <br><br>

            <label for="date">Announcement Date:</label>
            <input id="date" type="date" name="date" required>
            <br><br>

            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required>
            <br><br>

            <label for="condition">Select Card Condition:</label>
            <select name="condition" id="condition" required>
                <option value="MINT">Mint</option>
                <option value="NEAR_MINT">Near Mint</option>
                <option value="LIGHTLY_PLAYED">Lightly Played</option>
                <option value="MODERATELY_PLAYED">Moderately Played</option>
                <option value="HEAVILY_PLAYED">Heavily Played</option>
                <option value="DAMAGED">Damaged</option>
            </select>
            <br><br>

            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <p>Copyleft CC-by 2025 by Kevin Croce</p>
    </footer>

</body>

</html>