<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/head :: headFragment('The best card dealer!')"></head>
<link href="/style/cardDetail.css" rel="stylesheet" />


<body style="background: black">

<!-- Header Menu -->
<div th:replace="fragment/navBar :: navBarFragment"></div>

<!--card details-->
<div th:replace="fragment/cardDetail :: cardDetailFragment(${card}, ${currentUsername})"></div>

<!-- footer Menu -->
<div th:replace="fragment/footer :: footerFragment"></div>

</body>
</html>
