<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'Details of ' + ${card.name}">Card details</title>
    <meta charset="UTF-8">
    <meta name="description" content="card details">
    <link rel="icon" href="/images/logo.jpg" type="image/icon type">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>

<body>
<!-- Header Menu -->
<div th:replace="fragment/navBar :: navBarFragment"></div>

<!-- Card Details -->
<header>
    <h1 th:text="${card.name}">Card Name</h1>
    <p th:text="${card.name} + ' details'">Card details</p>
</header>

<main>
    <section class="card-announcement">
        <h2>Card for Sale</h2>
        <p><strong>Author:</strong> <span th:text="${card.author}"></span></p>
        <p><strong>Date:</strong> <span th:text="${#dates.format(card.date, 'dd MMMM yyyy')}"></span></p>
        <p><strong>Condition:</strong> <span th:text="${card.cardCondition}"></span></p>
        <p><strong>Type:</strong> <span th:text="${card.type}"></span></p>
        <p><strong>Description:</strong> <span th:text="${card.description}"></span></p>

        <!-- a to Edit/Delete the card -->
        <div class="actionLink">
            <a th:href="@{'/card/' + ${card.id} + '/edit'}">Edit Card</a>
            <a th:href="@{'/card/' + ${card.id} + '/delete'}">Delete Card</a>
        </div>
    </section>
</main>

<!-- Footer -->
<footer>
    <p>Copyleft CC-by 2025 by Kevin Croce</p>
</footer>

</body>
</html>
