<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <title>The best card dealer!</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo.jpg" type="image/icon type">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>

<body style="height: 100%">

<!-- Header Menu -->
<div th:replace="fragment/navBar :: navBarFragment"></div>

<div class="container mt-4" style="height: 100%">
    <div class="row">
        <!-- Cards Section -->
        <div class="col-12 col-md-9 mb-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div th:each="card : ${cards}" class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <a th:href="@{/card/{id}(id=${card.id})}">
                                <h5 class="card-title" th:text="${card.name}"></h5>
                            </a>
                            <p class="card-header" th:text="'Author: ' + ${card.author}"></p>
                            <p class="card-header" th:text="'Condition: ' + ${card.cardCondition}"></p>
                            <p class="card-header" th:text="'Description: ' + ${card.description}"></p>
                            <p class="card-header" th:text="'Date of publish: ' + ${#dates.format(card.date, 'yyyy-MM-dd')}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar Section -->
        <div class="col-12 col-md-3">
            <aside class="p-3 border rounded bg-light">
                <h4>News</h4>
                <ul class="list-unstyled">
                    <li>#PP4 | Simple spring added!</li>
                    <li>#PP3 | Added register form with JS validation</li>
                    <li>#PP2 | New version of the platform with CSS</li>
                    <li>#PP1 | First version online!</li>
                </ul>
            </aside>
        </div>

    </div>
</div>


<!-- Footer -->
<div th:replace="fragment/footer :: footerFragment"></div>

</body>
</html>
