<!DOCTYPE html>
<main th:replace="~{fragment/layout :: layout(
    pageTitle='Annuncio Carta',
    additionalCss=null,
    additionalScript=null,
    pageContent=~{::content}
)}">
    <section th:fragment="content">
        <div class="container">
            <div class="row">
                <!-- Itera su una lista di card passata dal controller -->
                <th:block th:each="card : ${cards}">
                    <div class="col-12 col-md-6 col-lg-4">
                        <a th:href="@{/card/${card.id}}">
                            <div class="card" style="width: 18rem;">
                                <img th:src="'data:image/jpeg;base64,' + ${card.getBase64Img()}" class="card-img-top" alt="Immagine della carta">
                                <div class="card-body">
                                    <h3 class="card-title" th:text="${card.title}"></h3>
                                    <p class="card-sub-title" th:text="${card.auth}"></p>
                                    <p class="card-sub-title" th:text="${card.cardCondition}"></p>
                                    <p class="card-text" th:text="${card.cardDate}"></p>
                                    <hr>

                                    <p class="card-text" th:text="${card.description.substring(0,5)+'...'}.split"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
</main>