<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head :: headFragment('Register!')"></div>
    <link href="/style/account.css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragment/navBar :: navBarFragment"></div>

<!-- Form di registrazione -->
<div th:replace="fragment/register :: registerForm"></div>


</body>


<!-- Footer -->
<div th:replace="fragment/footer :: footerFragment"></div>
<script src="/script/register.js"></script>
</html>